mat-form-field{
  width: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 10px;
}
button{
  background-color: rgb(47, 47, 161);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  size: 2cm;
  font-size: larger;
}
.btt{
  display: flex;
  flex-direction: row;
  margin: 15px 0;

  border-radius: 20px;
}
.btt :hover{
  opacity: .9;
}
.bt1{
  color: red;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
