<mat-nav-list>
  <div class="logoo">
    <img src="../../assets/logoo.png" alt="">
  </div>
  <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <div id="find">
      <a mat-list-item routerLink="/home" routerLinkActive="list-list-active">
        <mat-icon>home</mat-icon>Home</a>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="list-list-active">
        <mat-icon>dashboard</mat-icon>Dashboard</a>
      <a mat-list-item routerLink="/costumer" routerLinkActive="list-list-active">
        <mat-icon>Costumer</mat-icon>Costumer</a>
      <a mat-list-item >
        <mat-icon>edit</mat-icon>edit2</a>
      <a mat-list-item >
        <mat-icon>edit</mat-icon>edit3</a>
    </div>


</mat-nav-list>
